{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
        [ "@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "fgc": "./src/packages/fgc",
                    "fgc-package": "./src/packages/fgc-common-js-src",
                    "sure": "./src/packages/sure",
                    "sure-package": "./src/packages/sure-common-js"
                }
            }
        ]
    ]
}